@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: var(--color-violet-500);
  --color-base-100: var(--color-zinc-950);
  --color-base-200: var(--color-zinc-900);
  --color-base-300: var(--color-zinc-800);
  --color-base-content: var(--color-zinc-100);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--color-violet-500);
  --color-base-100: var(--color-zinc-200);
  --color-base-200: var(--color-zinc-100);
  --color-base-300: var(--color-zinc-50);
  --color-base-content: var(--color-zinc-900);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}
