.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box {
    width: 100%;
    max-width: 450px;
}

.text {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 20px 0px;
}
.form_group {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #7c7c7c;
    height: 25px;
    padding: 5px 10px;

    &::selection{
        background-color: transparent;
    }
}

.hasSubscription{
    text-align: center;
}
.subscription {
    color: gold;
    text-decoration: none;

    &:hover{
        text-decoration:underline;
    }
}