@import "@styles/global.scss";

.body {
  //margin: 6px 30px;
  color: rgb(199, 199, 199);
}

.main {
  @apply 
    flex
    bg-gray-500;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.section {
  @apply 
    bg-red-200;

  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    @apply text-gray-800;
  }

  p {
    @apply text-gray-600;
  }
}